
      <section class="col-md-7 col-xl-3">
        <h2>User list</h2>
         <%= link_to "Users", users_path, class: "btn btn-warning btn-lg btn-block" %>

         <%=link_to "Groups", groups_path, class: "btn btn-success btn-lg btn-block" %>
      </section>



  </div>
 </div>

        
      
  </div>
 </div>