

<body>
<main>
<div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-7 col-xl-5">

<div class="row">
 <%= image_tag "mykalender.jpg", size: "200x200", class: "d-block mx-auto mt-3 mb-3" %>
</div>

 <div class="d-grid gap-2">

  <div class="row">
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary btn-sm btn-block mb-3" %>
  </div>

   <div class="row">
   <%= link_to "ゲストログイン" ,users_guest_sign_in_path, class: "btn btn-primary btn-sm btn-block " %>
   </div>

</div>
</div>
</div>
</div>
</main>

</body>


