<div class="container">
<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6">
  <table class="table">
    <thead>
      <tr>
      <th> | メッセージ相手</th>
      <th> | メッセージ内容</th>
      </tr>
    </thead>

   <tbody>
     <%=  @another_entries.each do |entry| %>
     <tr>
       <td>
         <%=link_to entry.user.name, user_path(entry.user) %>
       </td>

       <td>
         <%= link_to group_path(entry.group) do %>
          <%= Message.find_by(id: entry.group.message_ids.last)&.body %>
       </td>
     </tr>
   </tbody>
  </table>
</div>

<div class="col-xs-3"></div>
</div>
</div>