<h1>管理画面</h1>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="">
      <%= link_to "users", admin_admin_dashboards_users_path, class:"btn btn-primary btn-sm btn-block mb-3" %>
    </div>

  <div class="">
     <%= link_to "groups", admin_admin_dashboards_groups_path, class:"btn btn-success btn-sm btn-block" %>
  </div>
 </div>
</div>

