<div class="container">
 <div class="row">

  <h1>管理画面</h1>

  <div class="col-d-md-block d-grid gap-2">
  <%= link_to "users", admin_admin_dashboards_users_path, class:"btn btn-primary" %>
  </div>

  <div class="col-d-md-block d-grid gap-2">
  <%= link_to "groups", admin_admin_dashboards_groups_path, class:"btn btn-success" %>
  </div>

 </div>
</div>