<div class="container">
 <div class="row">

  <h1>管理画面</h1>

  <div class="col-d-md-block d-grid gap-2">
  <%= link_to ,"users", admin_dashboards_user_path, class:"btn btn-primary" %>
  </div>

  <div class="col-d-md-block d-grid gap-2">
  <%= link_to ,"groups", admin_dashboards_group_path, class:"btn btn-success" %>
  </div>

 </div>
</div>