<div class="container">
  <div class="row">

  </div>
</div>


      <section class="col-md-7 col-xl-3">
        <h2>User list</h2>

         <div>
        <%= link_to '編集', edit_user_path(current_user), class: 'btn-sm btn-primary' %>
         </div>

         <%= link_to "Users", users_path, class: "btn btn-warning btn-lg btn-block" %>

         <%=link_to "Groups", groups_path, class: "btn btn-success btn-lg btn-block" %>
      </section>





  </div>
 </div>



  </div>
 </div>